<app-navbar></app-navbar>

<div class="card">
  <div class="card-header">
    <h2 class="astrologer-name">{{ astrologer?.firstName }} {{ astrologer?.lastName }}</h2>
    <span class="availability-status">Available</span>
  </div>
  <div class="card-body">
    <p class="current-date">Date: <span id="current-date"></span></p>
    <p class="mobile-number">Mobile: <a [href]="'tel:' + astrologer?.mobile">{{ astrologer?.mobile }}</a></p>
    <p class="mobile-number">Rate Per Minute: <a [href]="'rs:' + astrologer?.ratePerMinute">{{ astrologer?.ratePerMinute }}</a></p>
  </div>
</div>

<app-footer></app-footer>
