<app-navbar></app-navbar> 
<div class="video-background">
  <video autoplay muted loop>
    <source src="bckvdo.mp4" type="video/mp4">
    
  </video>
  <div class="content">
    <input type="text" [(ngModel)]="filters.skills" placeholder="e.g., Astrology">
    <select [(ngModel)]="filters.experience">
      <option value="">Select Experience</option>
      <option value="Beginner">Beginner</option>
      <option value="Intermediate">Intermediate</option>
      <option value="Expert">Expert</option>
    </select>
    <button (click)="applyFilters()">Apply Filters</button>

    <div *ngFor="let astrologer of filteredAstrologers" class="astrologer-card">
      <h4 (click)="viewAstrologerDetails(astrologer.id)">{{ astrologer.name }}</h4>
      <p>Experience: {{ astrologer.experience }}</p>
      <button (click)="initiateChat(astrologer.id)">Chat</button>
      <button (click)="initiateCall(astrologer.id)">Call</button>
    </div>
  </div>
</div>
