<!-- <footer>
  <div class="footer-links">
    <a routerLink="/">Home</a>
    <a routerLink="/find-astrologers">Find Astrologers</a>
    <a routerLink="/about-us">About Us</a>
    <a routerLink="/blogs">Blogs</a>
    <a routerLink="/contact-us">Contact Us</a>
    <a routerLink="/faq">FAQ</a>
    <a routerLink="/terms">Terms and Conditions</a>
  </div>
</footer>
 -->

 <!-- hs footer wrapper Start -->
<div class="hs_footer_main_wrapper v-2_footer">
    <!-- hs footer top wrapper Start -->
    <div class="hs_footer_top_wrapper">
        <div class="container">
            <div class="row">
                <!-- Quick Links Column -->
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="hs_footer_list_wrapper">
                        <h2>Quick <span>Links</span></h2>
                        <ul class="hs_footer_list">
                            <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> Home</a></li>
                            <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> Find Astrologers</a></li>
                            <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> About Us</a></li>
                            <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> Blogs</a></li>
                        </ul>
                    </div>
                </div>
  
                <!-- Useful Links Column -->
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="hs_footer_list_wrapper">
                        <h2>Useful <span>Links</span></h2>
                        <ul class="hs_footer_list">
                            <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> FAQs</a></li>
                            <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> Terms & Conditions</a></li>
                            <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> Privacy Policy</a></li>
                            <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> Refund Policy</a></li>
                        </ul>
                    </div>
                </div>
  
                <!-- Contact Us Column -->
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="hs_footer_list_wrapper">
                        <h2>Contact <span>Us</span></h2>
                        <ul class="hs_footer_list">
                            <li><i class="fa fa-map-marker"></i> 123 Main Street, Anytown, USA</li>
                            <li><i class="fa fa-phone"></i> +1800-123-123</li>
                            <li><i class="fa fa-envelope"></i> supportastrologywebsite.com</li>
                            <li><i class="fa fa-clock"></i> Mon-Fri 9:00 AM - 6:00 PM</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- hs footer top wrapper End -->
  
    <!-- hs bottom footer wrapper Start -->
    <div class="hs_bottom_footer_main_wrapper">
        <a href="javascript:" id="return-to-top"><i class="fa fa-angle-up"></i></a>
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                    <div class="footer_bottom_cont_wrapper">
                        <p>© Copyright 2024 by YourWebsite. All rights Reserved - Design By <a href="#">YourCompany</a></p>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                    <div class="footer_bottom_list_wrapper">
                        <ul>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms & Conditions</a></li>
                            <li><a href="#">Refund Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- hs bottom footer wrapper End -->
  </div>
  <!-- hs footer wrapper End -->
  