<div class="blog-container">
  <video autoplay muted loop id="bgVideo">
    <source src="blogvdo.mp4" type="video/mp4">
    Your browser does not support HTML5 video.
  </video>

  <div class="categories">
    <h2>Blogs Categories</h2>
    <ul>
      <li *ngFor="let category of categories" (click)="filterByCategory(category)">
        {{ category }}
      </li>
    </ul>
  </div>

  <div class="blogs">
    <ng-container *ngIf="!selectedBlog; else blogDetail">
      <div *ngFor="let blog of blogs" class="blog-item">
        <h3>{{ blog.title }}</h3>
        <p>{{ blog.content | slice: 0:100 }}...</p>
        <button (click)="readMore(blog.id)">Read More</button>
      </div>
    </ng-container>
    
    <ng-template #blogDetail>
      <div class="blog-detail">
        <button (click)="backToList()">Back to Blogs</button>
        <h1>{{ selectedBlog?.title }}</h1>
        <p>{{ selectedBlog?.content }}</p>
        <p *ngIf="selectedBlog?.astrologer"><strong>Author:</strong> {{ selectedBlog?.astrologer?.name }}</p>
      </div>
    </ng-template>
  </div>
</div>
