<p>about-us works!</p>
<div class="about-us-banner">
    <img src="assets/bann.jpg" alt="Banner Image">
  </div>
  
  <section class="who-we-are">
    <div class="container">
      <h2>Who We Are</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis libero nec ex molestie, eget venenatis velit tincidunt. Sed sollicitudin leo eu quam rutrum, in placerat erat finibus. Curabitur auctor massa eget lectus vestibulum.</p>
    </div>
  </section>
  
  <section class="what-we-do">
    <div class="container">
      <h2>What We Do</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis libero nec ex molestie, eget venenatis velit tincidunt. Sed sollicitudin leo eu quam rutrum, in placerat erat finibus. Curabitur auctor massa eget lectus vestibulum.</p>
    </div>
  </section>
  
  <section class="mission-vision">
    <div class="container">
      <h2>Mission and Vision</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis libero nec ex molestie, eget venenatis velit tincidunt. Sed sollicitudin leo eu quam rutrum, in placerat erat finibus. Curabitur auctor massa eget lectus vestibulum.</p>
    </div>
  </section>
  
  <section class="why-adishakti">
    <div class="container">
      <h2>Why Adishakti</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis libero nec ex molestie, eget venenatis velit tincidunt. Sed sollicitudin leo eu quam rutrum, in placerat erat finibus. Curabitur auctor massa eget lectus vestibulum.</p>
    </div>
  </section>
  