<div class="hs_astrology_wrapper about_wrapper">
  <!-- hs about us wrapper Start -->
  <div class="hs_about_us_main_wrapper">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="hs_about_img_main_wrapper">
            <img src="images/content/about_img.jpg" alt="about_img">
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="hs_about_us_cont_main_wrapper">
            <h2>About Jyotish</h2>
            <h3>+1800-123-123</h3>
            <p>At Adishakti, we believe in the profound wisdom of the stars and the ancient art of astrology. Founded by a team of passionate astrologers and enthusiasts, our mission is to offer you insightful and personalized astrological guidance that empowers and enlightens. With decades of combined experience, our experts provide accurate horoscopes, detailed birth charts, and astrological predictions tailored to your unique journey. We are dedicated to helping you navigate life's challenges and opportunities by unlocking the celestial messages that shape your destiny. Explore our services to discover how the cosmic forces can illuminate your path and guide you toward a more fulfilling life.</p>
            <a href="#">READ MORE <i class="fa fa-long-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- hs about us wrapper End -->

<!-- hs service wrapper Start -->
<div class="hs_service_wrapper about_service_wrapper">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="hs_about_heading_main_wrapper">
          <div class="hs_about_heading_wrapper">
            <h2>Our <span>Services</span></h2>
            <h4><span>&nbsp;</span></h4>
            <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat hello Aenean world.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- Service Boxes -->
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="hs_service_main_box_wrapper">
          <div class="hs_service_icon_wrapper">
            <i class="fa fa-user-tie" aria-hidden="true"></i>
          </div>
          <div class="hs_service_icon_cont_wrapper">
            <h2>Career</h2>
            <p>Get personalized career advice and guidance to make informed decisions about your professional path.</p>
            <h5><a href="#">Read More <i class="fa fa-long-arrow-right"></i></a></h5>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="hs_service_main_box_wrapper">
          <div class="hs_service_icon_wrapper">
            <i class="fa fa-baby" aria-hidden="true"></i>
          </div>
          <div class="hs_service_icon_cont_wrapper">
            <h2>Pregnancy</h2>
            <p>Receive insights and support for a healthy and successful pregnancy journey.</p>
            <h5><a href="#">Read More <i class="fa fa-long-arrow-right"></i></a></h5>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="hs_service_main_box_wrapper">
          <div class="hs_service_icon_wrapper">
            <i class="fa fa-heart" aria-hidden="true"></i>
          </div>
          <div class="hs_service_icon_cont_wrapper">
            <h2>Marriage</h2>
            <p>Find compatibility and insights to build a strong and lasting marriage.</p>
            <h5><a href="#">Read More <i class="fa fa-long-arrow-right"></i></a></h5>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="hs_service_main_box_wrapper">
          <div class="hs_service_icon_wrapper">
            <i class="fa fa-church" aria-hidden="true"></i>
          </div>
          <div class="hs_service_icon_cont_wrapper">
            <h2>Worship Lesson</h2>
            <p>Learn about various worship practices and their significance in astrology.</p>
            <h5><a href="#">Read More <i class="fa fa-long-arrow-right"></i></a></h5>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->

    <div class="row">
      <!-- Second Row of Services -->
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="hs_service_main_box_wrapper">
          <div class="hs_service_icon_wrapper">
            <i class="fa fa-asterisk" aria-hidden="true"></i>
          </div>
          <div class="hs_service_icon_cont_wrapper">
            <h2>Manglik Dosha</h2>
            <p>Understand Manglik Dosha and remedies to mitigate its effects.</p>
            <h5><a href="#">Read More <i class="fa fa-long-arrow-right"></i></a></h5>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="hs_service_main_box_wrapper">
          <div class="hs_service_icon_wrapper">
            <i class="fa fa-database" aria-hidden="true"></i>
          </div>
          <div class="hs_service_icon_cont_wrapper">
            <h2>Kundli Dosha</h2>
            <p>Get detailed analysis and remedies for various Kundli Doshas.</p>
            <h5><a href="#">Read More <i class="fa fa-long-arrow-right"></i></a></h5>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="hs_service_main_box_wrapper">
          <div class="hs_service_icon_wrapper">
            <i class="fa fa-calendar-alt" aria-hidden="true"></i>
          </div>
          <div class="hs_service_icon_cont_wrapper">
            <h2>Festivals</h2>
            <p>Discover the astrological significance of various festivals and how to celebrate them.</p>
            <h5><a href="#">Read More <i class="fa fa-long-arrow-right"></i></a></h5>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="hs_service_main_box_wrapper">
          <div class="hs_service_icon_wrapper">
            <i class="fa fa-pen" aria-hidden="true"></i>
          </div>
          <div class="hs_service_icon_cont_wrapper">
            <h2>Name Analysis</h2>
            <p>Analyze the astrological significance of names and their impact on your life.</p>
            <h5><a href="#">Read More <i class="fa fa-long-arrow-right"></i></a></h5>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</div>
<!-- hs service wrapper End -->

<!-- hs astrology team wrapper Start -->
<div class="hs_astrology_team_main_wrapper about_team_wrapper">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="hs_about_heading_main_wrapper">
          <div class="hs_about_heading_wrapper">
            <h2>Our <span> Team</span></h2>
            <h4><span>&nbsp;</span></h4>
            <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat hello Aenean world.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="hs_team_cards_wrapper">
          <div class="hs_astro_team_img_main_wrapper">
            <div class="hs_astro_img_wrapper">
              <img src="images/content/about/astro_img1.jpg" alt="team-img">
              <ul>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
            <div class="hs_astro_img_cont_wrapper">
              <h2>Ariana Jone</h2>
              <h4>Founder</h4>
              <p>Proin gravida nibh vel velit auctor aliquet. Aenean .</p>
            </div>
          </div>
          <div class="hs_astro_team_img_main_wrapper">
            <div class="hs_astro_img_wrapper">
              <img src="images/content/about/astro_img2.jpg" alt="team-img">
              <ul>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
            <div class="hs_astro_img_cont_wrapper">
              <h2>Brandon Leo</h2>
              <h4>CEO</h4>
              <p>Proin gravida nibh vel velit auctor aliquet. Aenean .</p>
            </div>
          </div>
          <div class="hs_astro_team_img_main_wrapper">
            <div class="hs_astro_img_wrapper">
              <img src="images/content/about/astro_img3.jpg" alt="team-img">
              <ul>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
            <div class="hs_astro_img_cont_wrapper">
              <h2>Aaron James</h2>
              <h4>Manager</h4>
              <p>Proin gravida nibh vel velit auctor aliquet. Aenean .</p>
            </div>
          </div>
          <div class="hs_astro_team_img_main_wrapper">
            <div class="hs_astro_img_wrapper">
              <img src="images/content/about/astro_img4.jpg" alt="team-img">
              <ul>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
            <div class="hs_astro_img_cont_wrapper">
              <h2>Jason Alberto</h2>
              <h4>Support</h4>
              <p>Proin gravida nibh vel velit auctor aliquet. Aenean .</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- hs astrology team wrapper End -->

<!-- hs astrology why adishakti wrapper Start -->
<!-- <div class="hs_astro_why_adishakti_main_wrapper">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="hs_astro_why_adishakti_heading_main_wrapper">
          <div class="hs_astro_why_adishakti_heading_wrapper">
            <h2>Why <span>Adishakti</span></h2>
            <h4><span>&nbsp;</span></h4>
            <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat hello Aenean world.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="hs_astro_why_adishakti_img_wrapper">
          <img src="images/content/about/pgress_img.jpg" alt="why adishakti img">
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="hs_astro_why_adishakti_cont_main_wrapper">
          <div class="hs_astro_why_adishakti_cont_wrapper">
            <ul>
              <li>Detailed Kundali Matching.</li>
              <li>Insights into Astrology.</li>
              <li>Matchmaking for Marriage.</li>
              <li>Vedic and Western Astrology.</li>
              <li>Career and Financial Prospects.</li>
              <li>Love and Marriage Astrology.</li>
              <li>Remedies for Career Growth.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- hs astrology why adishakti wrapper End -->

<!-- Mission and Vision Section Start -->
<div class="hs_astro_mission_vision_main_wrapper">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="hs_astro_mission_vision_heading_main_wrapper">
          <div class="hs_astro_mission_vision_heading_wrapper">
            <h2>Mission and <span>Vision</span></h2>
            <h4><span>&nbsp;</span></h4>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="hs_astro_mission_wrapper">
          <h3>Our Mission</h3>
          <p>Our mission is to provide accurate and insightful astrological guidance to help individuals make informed decisions, find their true potential, and achieve personal growth and fulfillment.</p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="hs_astro_vision_wrapper">
          <h3>Our Vision</h3>
          <p>Our vision is to become a leading astrology platform that empowers people to navigate their lives with confidence, clarity, and purpose, fostering a deeper understanding of themselves and the world around them.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Mission and Vision Section End -->


<!--  in srs no video mention
  hs astrology video wrapper Start
  <div class="hs_video_wrapper">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="hs_video_heading_main_wrapper">
            <div class="hs_video_heading_wrapper">
              <h2>Our <span> Videos</span></h2>
              <h4><span>&nbsp;</span></h4>
              <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat hello Aenean world.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="hs_video_img_main_wrapper">
            <img src="images/content/about/video_img.jpg" alt="video-img">
            <div class="hs_video_play_icon_wrapper">
              <a class="play-icon" href="#"><i class="fa fa-play" aria-hidden="true"></i></a>
            </div>
          </div>
          <div class="hs_video_img_cont_wrapper">
            <h3><a href="#">Vedic Astrology vs. Western Astrology, What's the Difference?</a></h3>
            <p>Proin gravida nibh vel velit auctor aliquet. Aenean .</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="hs_video_img_main_wrapper">
            <img src="images/content/title_img2.jpg" alt="video-img">
            <div class="hs_video_play_icon_wrapper">
              <a class="play-icon" href="#"><i class="fa fa-play" aria-hidden="true"></i></a>
            </div>
          </div>
          <div class="hs_video_img_cont_wrapper">
            <h3><a href="#">Astrology and Your Love Life: Compatibility Checks</a></h3>
            <p>Proin gravida nibh vel velit auctor aliquet. Aenean .</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="hs_video_img_main_wrapper">
            <img src="images/content/title_img3.jpg" alt="video-img">
            <div class="hs_video_play_icon_wrapper">
              <a class="play-icon" href="#"><i class="fa fa-play" aria-hidden="true"></i></a>
            </div>
          </div>
          <div class="hs_video_img_cont_wrapper">
            <h3><a href="#">How Astrology Can Help You Improve Your Relationships.</a></h3>
            <p>Proin gravida nibh vel velit auctor aliquet. Aenean .</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  hs astrology video wrapper End
 -->