<div class="hs_astrology_wrapper about_wrapper">
  <!-- hs about us wrapper Start -->
  <div class="hs_about_us_main_wrapper">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="hs_about_img_main_wrapper">
            <img src="images/content/about_img.jpg" alt="about_img">
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="hs_about_us_cont_main_wrapper">
            <h2>About Jyotish</h2>
            <h3>+1800-123-123</h3>
            <p>Horoscope Reveals The Will Of God. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue.</p>
            <a href="#">READ MORE <i class="fa fa-long-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- hs about us wrapper End -->

  <!-- hs service wrapper Start -->
  <div class="hs_service_wrapper about_service_wrapper">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="hs_about_heading_main_wrapper">
            <div class="hs_about_heading_wrapper">
              <h2>Our <span> Services</span></h2>
              <h4><span>&nbsp;</span></h4>
              <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat hello Aenean world.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- First Row of Services -->
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="hs_service_main_box_wrapper">
            <div class="hs_service_icon_wrapper">
              <img src="images/career.jpg" alt="Career">
            </div>
            <div class="hs_service_icon_cont_wrapper">
              <h2>Career</h2>
              <p>Proin gravida nibh vel velit auctor aliquet. Aenean .</p>
              <h5><a href="#">Read More <i class="fa fa-long-arrow-right"></i></a></h5>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="hs_service_main_box_wrapper">
            <div class="hs_service_icon_wrapper">
              <img src="images/pregnancy.jpg" alt="Pregnancy">
            </div>
            <div class="hs_service_icon_cont_wrapper">
              <h2>Pregnancy</h2>
              <p>Proin gravida nibh vel velit auctor aliquet. Aenean .</p>
              <h5><a href="#">Read More <i class="fa fa-long-arrow-right"></i></a></h5>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="hs_service_main_box_wrapper">
            <div class="hs_service_icon_wrapper">
              <img src="images/marriage.jpg" alt="Marriage">
            </div>
            <div class="hs_service_icon_cont_wrapper">
              <h2>Marriage</h2>
              <p>Proin gravida nibh vel velit auctor aliquet. Aenean .</p>
              <h5><a href="#">Read More <i class="fa fa-long-arrow-right"></i></a></h5>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="hs_service_main_box_wrapper">
            <div class="hs_service_icon_wrapper">
              <img src="images/worship.jpg" alt="Worship Lesson">
            </div>
            <div class="hs_service_icon_cont_wrapper">
              <h2>Worship Lesson</h2>
              <p>Proin gravida nibh vel velit auctor aliquet. Aenean .</p>
              <h5><a href="#">Read More <i class="fa fa-long-arrow-right"></i></a></h5>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->

      <div class="row">
        <!-- Second Row of Services -->
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="hs_service_main_box_wrapper">
            <div class="hs_service_icon_wrapper">
              <img src="images/manglik.jpg" alt="Manglik Dosha">
            </div>
            <div class="hs_service_icon_cont_wrapper">
              <h2>Manglik Dosha</h2>
              <p>Proin gravida nibh vel velit auctor aliquet. Aenean .</p>
              <h5><a href="#">Read More <i class="fa fa-long-arrow-right"></i></a></h5>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="hs_service_main_box_wrapper">
            <div class="hs_service_icon_wrapper">
              <img src="images/kundli.jpg" alt="Kundli Dosha">
            </div>
            <div class="hs_service_icon_cont_wrapper">
              <h2>Kundli Dosha</h2>
              <p>Proin gravida nibh vel velit auctor aliquet. Aenean .</p>
              <h5><a href="#">Read More <i class="fa fa-long-arrow-right"></i></a></h5>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="hs_service_main_box_wrapper">
            <div class="hs_service_icon_wrapper">
              <img src="images/festivals.jpg" alt="Festivals">
            </div>
            <div class="hs_service_icon_cont_wrapper">
              <h2>Festivals</h2>
              <p>Proin gravida nibh vel velit auctor aliquet. Aenean .</p>
              <h5><a href="#">Read More <i class="fa fa-long-arrow-right"></i></a></h5>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="hs_service_main_box_wrapper">
            <div class="hs_service_icon_wrapper">
              <img src="images/name-analysis.jpg" alt="Name Analysis">
            </div>
            <div class="hs_service_icon_cont_wrapper">
              <h2>Name Analysis</h2>
              <p>Proin gravida nibh vel velit auctor aliquet. Aenean .</p>
              <h5><a href="#">Read More <i class="fa fa-long-arrow-right"></i></a></h5>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </div>
  <!-- hs service wrapper End -->

  <!-- hs astrology team wrapper Start -->
  <div class="hs_astrology_team_main_wrapper about_team_wrapper">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="hs_about_heading_main_wrapper">
            <div class="hs_about_heading_wrapper">
              <h2>Our <span> Team</span></h2>
              <h4><span>&nbsp;</span></h4>
              <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat hello Aenean world.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="hs_team_slider_wrapper">
            <div class="owl-carousel owl-theme">
              <div class="item">
                <div class="hs_astro_team_img_main_wrapper">
                  <div class="hs_astro_img_wrapper">
                    <img src="images/content/about/astro_img1.jpg" alt="team-img">
                    <ul>
                      <li><a href="#"><i class="fa fa-phone"></i>&nbsp; Call Now</a></li>
                    </ul>
                  </div>
                  <div class="hs_astro_img_cont_wrapper">
                    <div class="hs_astro_img_inner_wrapper">
                      <h2><a href="#">Rashmi Doe</a></h2>
                      <p>Magic ball reader</p>
                    </div>
                    <div class="hs_astro_img_bottom_wrapper">
                      <ul>
                        <li>Charges :</li>
                        <li>$5 / Min.</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Repeat similar structure for other team members -->
              <div class="item">
                <div class="hs_astro_team_img_main_wrapper">
                  <div class="hs_astro_img_wrapper">
                    <img src="images/content/about/astro_img2.jpg" alt="team-img">
                    <ul>
                      <li><a href="#"><i class="fa fa-phone"></i>&nbsp; Call Now</a></li>
                    </ul>
                  </div>
                  <div class="hs_astro_img_cont_wrapper">
                    <div class="hs_astro_img_inner_wrapper">
                      <h2><a href="#">John Doe</a></h2>
                      <p>Astrology Expert</p>
                    </div>
                    <div class="hs_astro_img_bottom_wrapper">
                      <ul>
                        <li>Charges :</li>
                        <li>$7 / Min.</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- hs astrology team wrapper End -->
</div>
