<nav class="navbar">
  <div class="logo">
    <h1>Adishakti Astrology</h1>
  </div>
  <ul class="nav-links">
    <li [class.active]="currentTab === 'home'">
      <a routerLink="/" (click)="setActiveTab('home'); closeDropdown()">Home</a>
    </li>
    <li [class.active]="currentTab === 'find-astrologers'">
      <a routerLink="/find-astrologers" (click)="setActiveTab('find-astrologers'); closeDropdown()">Find Astrologers</a>
    </li>
    <li [class.active]="currentTab === 'about-us'">
      <a routerLink="/about-us" (click)="setActiveTab('about-us'); closeDropdown()">About Us</a>
    </li>
    <li [class.active]="currentTab === 'blogs'">
      <a routerLink="/blogs" (click)="setActiveTab('blogs'); closeDropdown()">Blogs</a>
    </li>
    <li class="dropdown" (click)="toggleDropdown()" [class.active]="showDropdown">
      <a class="dropbtn">Login</a>
      <div class="dropdown-content" [ngClass]="{ 'show': showDropdown }">
        <app-login *ngIf="showDropdown"></app-login>
      </div>
    </li>
  </ul>
</nav>
