<!-- src/app/latest-blogs/latest-blogs.component.html -->
<div class="latest-blogs">
  <h2>Latest from Blogs</h2>
  <div class="blog" *ngFor="let blog of blogs">
    <img [src]="blog.featuredImage" alt="{{blog.title}}">
    <h3>{{blog.title}}</h3>
    <p>by {{blog.astrologer.name}}</p>
    <button (click)="readMore(blog.id)">Read more</button>
  </div>
</div>


<!-- if data available on db then use below code -->

<!-- 
<div class="latest-blogs">
  <h2>Latest from Blogs</h2>
  <div *ngIf="loading">Loading...</div>
  <div *ngIf="error">{{ error }}</div>
  <div *ngIf="!loading && blogs.length === 0">No blogs available.</div>
  <div class="blog" *ngFor="let blog of blogs">
    <img [src]="blog.featuredImage" alt="{{ blog.title }}">
    <h3>{{ blog.title }}</h3>
    <button (click)="readMore(blog.id)">Read more</button>
  </div>
</div>

-->