.feedback-form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #F8F4E1;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #543310;
}

form div {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #74512D;
}

input, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #AF8F6F;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #AF8F6F;
  border: none;
  border-radius: 5px;
  color: #F8F4E1;
  font-size: 16px;
  cursor: pointer;
}

button:disabled {
  background-color: #74512D;
  cursor: not-allowed;
}

div.ng-invalid.ng-touched {
  color: red;
}
