<body>
<div class="feedback-form-container">
  <h2>Submit Feedback</h2>
  <form [formGroup]="feedbackForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="astrologerId">Astrologer Name</label>
      <select id="astrologerId" formControlName="astrologerId">
        <option *ngFor="let astrologer of astrologers" [value]="astrologer.id">{{ astrologer.name }}</option>
      </select>
      <div *ngIf="feedbackForm.get('astrologerId')?.invalid && feedbackForm.get('astrologerId')?.touched">
        Astrologer Name is required.
      </div>
    </div>
    <div>
      <label for="rating">Rating</label>
      <div class="rating">
        <label for="radio-1" aria-label="Rating 1"><input type="radio" name="rating" id="radio-1" class="sr-only" value="1" formControlName="rating"></label>
        <label for="radio-2" aria-label="Rating 2"> <input type="radio" name="rating" id="radio-2" class="sr-only"value="2" formControlName="rating"></label>
        <label for="radio-3" aria-label="Rating 3"><input type="radio" name="rating" id="radio-3" class="sr-only" value="3" checked formControlName="rating"></label>
        <label for="radio-4" aria-label="Rating 4"><input type="radio" name="rating" id="radio-4" class="sr-only"value="4" formControlName="rating"></label>
        <label for="radio-5" aria-label="Rating 5"><input type="radio" name="rating" id="radio-5" class="sr-only" value="5" formControlName="rating"></label>
      </div>

    </div>
    <div>
      <label for="comments">Comments</label>
      <textarea id="comments" formControlName="comments"></textarea>
      <div *ngIf="feedbackForm.get('comments')?.invalid && feedbackForm.get('comments')?.touched">
        Comments are required.
      </div>
    </div>
    <button type="submit" [disabled]="feedbackForm.invalid">Submit Feedback</button>
  </form>
</div>
</body>