.outside {
    background-color: #8393a3;
    background: url('/back.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 1600px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
  }
  
  .adminastrologers {
    padding: 20px;
  }
  
  .search-bar {
    position: relative;
    margin-bottom: 20px;
    width: 500px;
  }
  
  .search-bar input {
    width: 100%;
    max-width: 800px;
    padding: 15px 50px 15px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
    transition: border-color 0.3s, box-shadow 0.3s;
  }
  
  .search-bar input:focus {
    border-color: #008CBA;
    box-shadow: 0 0 5px rgba(0, 140, 186, 0.3);
    outline: none;
  }
  
  .astrologer-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .astrologer {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    max-width: 1000px;
    width: 100%;
    margin: 10px 0;
  }
  
  .astrologer-image {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
    transition: transform 0.3s ease;
    margin-right: 20px;
  }
  
  .astrologer-details {
    flex: 1;
    padding: 0 20px;
  }
  
  .astrologer-details h3 {
    margin: 5px 0;
    font-size: 22px;
  }
  
  .astrologer-details p {
    margin: 5px 0;
    color: #666;
  }
  
  .astrologer-actions {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;
  }
  
  .btn-chat, .btn-call {
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    color: #fff;
    transition: background-color 0.3s, transform 0}