
<!-- hs astrology why adishakti wrapper Start -->
<div class="hs_astro_why_adishakti_main_wrapper">
    <div class="container">
      <div class="row hs_astro_why_adishakti_row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 hs_astro_why_adishakti_img_wrapper">
          <img src="images/content/about/pgress_img.jpg" alt="why adishakti img">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 hs_astro_why_adishakti_cont_main_wrapper">
          <div class="hs_astro_why_adishakti_heading_wrapper">
            <h2>Why <span>Adishakti</span></h2>
            <h4><span>&nbsp;</span></h4>
            <p>At Adishakti, we are dedicated to providing unparalleled astrological services that cater to all aspects of your life. Our team of highly skilled astrologers offers:</p>
        </div>
          <div class="hs_astro_why_adishakti_cont_wrapper">
            <ul>
              <li>Detailed Kundali Matching.</li>
              <li>Insights into Astrology.</li>
              <li>Matchmaking for Marriage.</li>
              <li>Vedic and Western Astrology.</li>
              <li>Career and Financial Prospects.</li>
              <li>Love and Marriage Astrology.</li>
              <li>Remedies for Career Growth.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- hs astrology why adishakti wrapper End -->
