<div class="banner">
  <div class="banner-image">
    <!-- <img src="images/header/slide4.jpg" alt="Banner"> -->

    <!-- <img src="images\header\138723312_10424627-removebg-preview.png" alt="Banner"> -->
    <img src="gallaxy.jpg" alt="background">
    
    
  </div>
  <div class="banner-overlay"></div>
  <div class="banner-content">
    <h1>Discover Your Future</h1>
    <p>With Our Expert Astrologers</p>
  </div>
  <div class="banner-options">
    <a routerLink="/chat-with-astrologer" class="btn btn-primary">Chat with Astrologer</a>
    <button class="btn btn-secondary">Call with Astrologer</button>
    <button class="btn btn-tertiary">Blogs</button>
  </div>
</div>
