
<div class="top-rated-astrologers">
  <h2 class="heading">Top Rated Astrologers</h2>
  <div class="slider-container">
    <div class="slider">
      <div class="slide" *ngFor="let astrologer of astrologers">
        <div class="card">
          <img [src]="astrologer.profileImage" alt="{{ astrologer.firstName }} {{ astrologer.lastName }}">
          <div class="info">
            <h3>{{ astrologer.firstName }} {{ astrologer.lastName }}</h3>
            <p>Skills: {{ astrologer.skills.join(', ') }}</p>
          </div>
        </div>
      </div>
    </div>
    <button class="slider-prev" (click)="prevSlide()">&#10094;</button>
    <button class="slider-next" (click)="nextSlide()">&#10095;</button>
  </div>
</div>
