<nav class="navbar">
    <div class="logo">
      <div><img src="https://www.shutterstock.com/shutterstock/photos/1195738204/display_1500/stock-vector-astrology-logo-design-1195738204.jpg"></div>
      <div></div>  
    </div>
    <ul class="nav-links">
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/find-astrologers">Find Astrologers</a></li>
      <li><a routerLink="/about-us">About Us</a></li>
      <li><a routerLink="/blogs">Blogs</a></li>
      <li><a routerLink="/login">Login</a></li>
      <li><a routerLink="/feedback">Feedback</a></li>
 
      <li class="dropdown">
        <!-- <a class="dropbtn">Login</a> -->
        <div class="dropdown-content">
          <app-login></app-login>
        </div>
      </li>
    </ul>
  </nav>


  <router-outlet></router-outlet>
  