<nav class="navbar">
    <div >
      <div class="logo"><img src="/images/header/logo.jpg" height="100px" width="100px"></div>
       
    </div>
    <ul class="nav-links">
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/find-astrologers">Find Astrologers</a></li>
      <li><a routerLink="/about-us">About Us</a></li>
      <li><a routerLink="/blogs">Blogs</a></li>
      <li><a routerLink="/login">Login</a></li>
      <li><a routerLink="/feedback">feedback</a></li>
      <li class="dropdown">
        <!-- <a class="dropbtn">Login</a> -->
        <div class="dropdown-content">
          <app-login></app-login>
        </div>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
  