/* General styles */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

/* Navbar styles */
.navbar {
  width: 100%;
  background-color: #420E57;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.top-bar {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #F9DA82;
  transition: background-color 0.3s ease;
}

.top-bar .address, .top-bar .phone {
  display: flex;
  align-items: center;
}

.top-bar i {
  margin-right: 8px;
  font-size: 18px;
}

.top-bar p {
  margin: 0;
  font-size: 14px;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  position: relative;
  transition: padding 0.3s ease;
}

.logo h1 {
  margin: 0;
  font-size: 20px;
  animation: fadeInDown 1s ease;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  animation: fadeInRight 1s ease;
}

.nav-links li {
  margin-left: 20px;
  position: relative;
}

.nav-links a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  position: relative;
  display: inline-block;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #F9DA82;
}

.nav-links .active a {
  color: #F9DA82;
}

.dropdown {
  position: relative;
}

.dropdown .dropbtn {
  background: none;
  border: none;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1000;
  top: 100%;
  left: 0;
  border-radius: 5px;
  overflow: hidden;
  animation: fadeIn 0.5s ease;
}

.dropdown-content.show {
  display: block;
}

.dropdown-content app-login {
  padding: 10px;
  color: #420E57;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 14px;
  color: #420E57;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.dropdown-content a:hover {
  background-color: #F9DA82;
  color: #420E57;
}

/* Animations */
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
