/* General styles */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4; 
}

/* Navbar styles */
.navbar {
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100%;
  background-color: #420E57; 
  color: #ffffff;
  display: flex;
  align-items: center;
  padding: 10px 20px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000; 
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.logo img {
  height: 80px; 
  width: 80px; 
  margin-right: 10px;
}

.logo-text {
  font-size: 1.5rem; 
  font-weight: bold;
  color: #F9DA82; 
  animation: glow 1.5s ease-in-out infinite; 
}

/* Navigation links styling */
.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  flex-grow: 1; 
  justify-content: center; 
}

.nav-links li {
  margin-left: 15px; 
  position: relative;
}

.nav-links a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500; 
  font-size: 14px; 
  display: inline-block;
  padding: 8px 15px;
  transition: color 0.3s ease, background-color 0.3s ease;
  border-radius: 5px; 
}

.nav-links a:hover {
  color: #420E57; 
  background-color: #F9DA82; 
}

/* Dropdown menu styling */
.dropdown {
  position: relative;
}

.dropdown .dropbtn {
  background: none;
  border: none;
  color: #ffffff;
  font-size: 14px; 
  cursor: pointer;
  transition: color 0.3s ease;
  padding: 8px 15px; 
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff; 
  min-width: 200px; 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  top: 100%;
  left: 0;
  border-radius: 5px;
  overflow: hidden;
  animation: fadeIn 0.5s ease;
}

.dropdown-content.show {
  display: block;
}

.dropdown-content app-login {
  padding: 10px;
  color: #420E57; /* Dark Purple */
}

.dropdown-content a {
  padding: 8px 15px; 
  text-decoration: none;
  display: block;
  font-size: 12px; 
  color: #420E57; 
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-content a:hover {
  background-color: #F9DA82; 
  color: #420E57;
}

/* Animations */
@keyframes glow {
  0% {
    text-shadow: 0 0 10px rgba(249, 218, 130, 0.5);
  }
  50% {
    text-shadow: 0 0 20px rgba(249, 218, 130, 1);
  }
  100% {
    text-shadow: 0 0 10px rgba(249, 218, 130, 0.5);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
