<div class="dashboard-container">
    <app-admin-nav/>
    <div class="main-content">
      <header class="topbar">
        <h1>Dashboard</h1>
        <div class="user-info">
          <p>Welcome,</p>
          <a href="#">Logout</a>
        </div>
      </header>
  
      <section class="dashboard-section">
        <div class="stat">
          <h3>Total Customers</h3>
          <p>{{ totalClients }}</p>
        </div>
        <div class="stat">
          <h3>Total Astrologers</h3> 
          <p>{{ totalAstrologers }}</p>
        </div>
      </section>
    
  </div>
  